
.errorText {
    color: red;
}

.well
{
	margin-bottom: 3em;
}

::-webkit-input-placeholder {
 color: #d9d9d9 !important;
}
:-moz-placeholder { /* older Firefox*/
 color: #d9d9d9 !important;
}
::-moz-placeholder { /* Firefox 19+ */ 
 color: #d9d9d9 !important;
} 
:-ms-input-placeholder { 
 color: #d9d9d9 !important;
}